<div class="cards__wrap">
    <nav class="cards__container">
      <a data-aos="fade-right" data-aos-offset="-200" data-aos-delay="0" data-aos-duration="600"
        data-aos-easing="ease-out" data-aos-mirror="true" data-aos-once="true"
        data-aos-anchor-placement="top-center" class="direction__card" href="../../facads.html">
        <div class="card__image-wrap">
          <img class="card__image" src="img/port1.jpg" alt="">
          <div class="card__overlay"></div> <!-- Добавили слой для затемнения -->
        </div>
        <div class="card__text">
          <p class="text">Устройство вентилируемых фасадов</p>
        </div>
      </a>
      <a data-aos="fade-right" data-aos-offset="-200" data-aos-delay="200" data-aos-duration="600"
        data-aos-easing="ease-out" data-aos-mirror="true" data-aos-once="true"
        data-aos-anchor-placement="top-center" class="direction__card" href="../../advertisment.html">
        <div class="card__image-wrap">
          <img class="card__image" src="img/home_bg.jpg" alt="">
          <div class="card__overlay"></div> <!-- Добавили слой для затемнения -->
        </div>
        <div class="card__text">
          <p class="text">Производство наружной рекламы</p>
        </div>
      </a>
      <a data-aos="fade-right" data-aos-offset="-200" data-aos-delay="400" data-aos-duration="600"
        data-aos-easing="ease-out" data-aos-mirror="true" data-aos-once="true"
        data-aos-anchor-placement="top-center" class="direction__card" href="../../metal.html">
        <div class="card__image-wrap">
          <img class="card__image" src="img/metal.jpg" alt="">
          <div class="card__overlay"></div> <!-- Добавили слой для затемнения -->
        </div>
        <div class="card__text">
          <p class="text">Изготовление металлоконструкций</p>
        </div>
      </a>
      <a data-aos="fade-right" data-aos-offset="-200" data-aos-delay="600" data-aos-duration="600"
        data-aos-easing="ease-out" data-aos-mirror="true" data-aos-once="true"
        data-aos-anchor-placement="top-center" class="direction__card" href="../../cpu.html">
        <div class="card__image-wrap">
          <img class="card__image" src="img/cpu.jpg" alt="">
          <div class="card__overlay"></div> <!-- Добавили слой для затемнения -->
        </div>
        <div class="card__text">
          <p class="text">Фрезерная резка ЧПУ</p>
        </div>
      </a>
    </nav>
  </div>
  