<div class="container">
    <div class="portfolio">
        <div class="photo-card" data-caption="Описание фотографии 1">
            <img src="img/port1.jpg" alt="Фотография 1" class="photo-thumbnail">
        </div>

        <div class="photo-card" data-caption="Описание фотографии 2">
            <img src="img/port2.jpg" alt="Фотография 2" class="photo-thumbnail">
        </div>

        <div class="photo-card" data-caption="Описание фотографии 3">
            <img src="img/port3.jpg" alt="Фотография 3" class="photo-thumbnail">
        </div>

        <div class="photo-card" data-caption="Описание фотографии 4">
            <img src="img/port4.jpg" alt="Фотография 4" class="photo-thumbnail">
        </div>

        <div class="photo-card" data-caption="Описание фотографии 5">
            <img src="img/port5.jpg" alt="Фотография 5" class="photo-thumbnail">
        </div>

        <div class="photo-card" data-caption="Описание фотографии 6">
            <img src="img/port6.jpg" alt="Фотография 6" class="photo-thumbnail">
        </div>

        <div class="photo-card" data-caption="Описание фотографии 7">
            <img src="img/port1.jpg" alt="Фотография 7" class="photo-thumbnail">
        </div>

        <div class="photo-card" data-caption="Описание фотографии 8">
            <img src="img/port2.jpg" alt="Фотография 8" class="photo-thumbnail">
        </div>

        <div class="photo-card" data-caption="Описание фотографии 9">
            <img src="img/port3.jpg" alt="Фотография 9" class="photo-thumbnail">
        </div>
    </div>

    <!-- Общий попап -->
    <div class="photo-popup" id="photoPopup">
        <div class="photo-popup-content">
            <span class="popup-close" id="popupClose">&times;</span>
            <img src="" alt="Попап Фото" class="popup-photo" id="popupImage">
            <div class="popup-caption" id="popupCaption"></div>
        </div>
    </div>
</div>
