<div class="swiper-container custom-slider" data-aos="fade-right" data-aos-offset="-200" data-aos-delay="0"
  data-aos-duration="600" data-aos-easing="ease-out" data-aos-mirror="true" data-aos-once="true"
  data-aos-anchor-placement="top-center">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="img/slider1.jpg" alt="Slide 1">
      <div class="toner"></div>

      <p data-scroll data-scroll-speed="0.1">Устройство вентилируемых фасадов</p>
      <div class="hero__bottom">
        <svg>
          <use xlink:href="img/sprite.svg#homeBottom"></use>
        </svg>
        <div class="hero__bottom-line"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="img/home_bg.jpg" alt="Slide 2">
      <p data-scroll data-scroll-speed="0.1">Производство наружной рекламы</p>
      <div class="hero__bottom">
        <svg>
          <use xlink:href="img/sprite.svg#homeBottom"></use>
        </svg>
        <div class="hero__bottom-line"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="toner"></div>
      <img src="img/home_bg.jpg" alt="Slide 3">
      <p data-scroll data-scroll-speed="0.1">Изготовление металлоконструкций</p>
      <div class="hero__bottom">
        <svg>
          <use xlink:href="img/sprite.svg#homeBottom"></use>
        </svg>
        <div class="hero__bottom-line"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="img/home_bg.jpg" alt="Slide 4">
      <p data-scroll data-scroll-speed="0.1">Фрезерная резка ЧПУ</p>
      <div class="hero__bottom">
        <svg>
          <use xlink:href="img/sprite.svg#homeBottom"></use>
        </svg>
        <div class="hero__bottom-line"></div>
      </div>
    </div>
  </div>
  <!-- Кнопки для переключения -->
  <div class="swiper-button-next">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrowRight"></use>
    </svg>
  </div>
  <div class="swiper-button-prev">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrowRight"></use>
    </svg>
  </div>
</div>