<footer class="footer">
  <div class="footer__container">
    <div title="Главная страница">
      <img class="header__logo" src="img/vid.png" />
    </div>
    <div class="header__social footer__social">

      <a class="social__link" href="mailto:pro-vrn@yandex.ru">
        pro-vrn@yandex.ru
      </a>
      <a class="social__link" href="tel:+7920-229-77-37">
        +7920-229-77-37
      </a>
      <p class="social__link">
        г. Воронеж, ул. Беговая, д. 96а
      </p>

      <div class="icons__container">

        <a href="#">
          <svg class="">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
        <a href="#">
          <svg class="">
            <use xlink:href="img/sprite.svg#tg"></use>
          </svg>
        </a>
      </div>

    </div>
  </div>
</footer>
