// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/slider";
@import "./vendor.scss";
@import "./components/directions";
@import "./components/portfolio";

// тестовые стили, удалите их
.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
  font-family: var(--font-family, sans-serif);
}

.site-container {
  width: 100%;
  min-height: 100vh;
}

.about {
  &__text {
    font-size: 20px;
    text-align: justify;
    margin: 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 16px;
  }
}

.bg-white {
  background-color: white;
}

@include small-tablet {
  .mobile {
    padding: 0 16px;
    margin: 30px 0;
  }
}